<!DOCTYPE html>
<html
        lang="es"
        xmlns:th="http://www.thymeleaf.org"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
>
<head th:fragment="header">
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <title>Dashboard-dj</title>
    <meta name="description" content="" />
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon/favicon.ico}" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/vendor/fonts/boxicons.css}" />
    <link rel="stylesheet" th:href="@{/vendor/css/core.css}" class="template-customizer-core-css" />
    <link rel="stylesheet" th:href="@{/vendor/css/theme-default.css}" class="template-customizer-theme-css" />
    <link rel="stylesheet" th:href="@{/css/demo.css}" />
    <link rel="stylesheet" th:href="@{/vendor/libs/perfect-scrollbar/perfect-scrollbar.css}" />
    <link rel="stylesheet" th:href="@{/vendor/libs/apex-charts/apex-charts.css}" />
    <script th:src="@{/vendor/js/helpers.js}"></script>
    <script th:src="@{/js/config.js}"></script>
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar" >
    <div class="layout-container">
        <!-- Menu -->

       <span th:replace="fragments/asider :: sidebar">
       </span>

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar -->
            <span th:replace="fragments/header::header"></span>
            <!-- / Navbar -->
            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="row">
                        <div class="col-lg-12 mb-4 order-0">
                            <div class="card">
                                <div class="d-flex align-items-end row">
                                    <div class="col-sm-7">
                                        <div class="card-body">
                                            <h5 class="card-title text-primary">Congratulations John! 🎉</h5>
                                            <p class="mb-4">
                                                You have done <span class="fw-bold">72%</span> more sales today. Check your new badge in
                                                your profile.
                                            </p>

                                            <a href="javascript:;" class="btn btn-sm btn-outline-primary">View Badges</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 text-center text-sm-left">
                                        <div class="card-body pb-0 px-0 px-md-4">
                                            <img
                                                    src="../assets/img/illustrations/man-with-laptop-light.png"
                                                    height="140"
                                                    alt="View Badge User"
                                                    data-app-dark-img="illustrations/man-with-laptop-dark.png"
                                                    data-app-light-img="illustrations/man-with-laptop-light.png"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- / Content -->

                <span th:replace="fragments/footer::footer"></span>

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>

<span th:fragment="script">
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script th:src="@{/vendor/libs/jquery/jquery.js}"></script>
    <script th:src="@{/vendor/libs/popper/popper.js}"></script>
    <script th:src="@{/vendor/js/bootstrap.js}"></script>
    <script th:src="@{/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>
    <script th:src="@{/vendor/js/menu.js}"></script>
    <script th:src="@{/vendor/libs/apex-charts/apexcharts.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/dashboards-analytics.js}"></script>

        <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</span>

</body>
</html>
