<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/dashboard:: header">
</head>
<body>
<div class="layout-wrapper layout-content-navbar" >
    <div class="layout-container">
       <span th:replace="fragments/asider :: sidebar">
       </span>
        <div class="layout-page">
            <span th:replace="fragments/header::header"></span>
            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">

                    <div class="row">
                        <div class="col-lg-12 mb-4 order-0">
                            <div class="card">
                                <div class="d-flex align-items-end row">
                                    <div class="col-sm-12">
                                        <div class="card-body">
                                            <h5 class="card-title text-primary">Actualizar Estudiantes 🎉</h5>
                                            <form th:action="@{/estudiante/save}" th:object="${estudiante}" method="post">
                                                <div>
                                                    <label>Nombre</label>
                                                    <input type="text" th:field="*{nombre}" class="form-control" placeholder="Nombre">
                                                </div>
                                                <div>
                                                    <label>Apellido</label>
                                                    <input type="text" th:field="*{apellido}" class="form-control" placeholder="Apellido">
                                                </div>
                                                <div>
                                                    <label>Fecha de Nacimiento</label>
                                                    <input type="text" th:field="*{FechaDeNacimiento}" class="form-control" placeholder="YYYY-MM-DD">
                                                </div>
                                                <div>
                                                    <label>Correo Electrónico</label>
                                                    <input type="email" th:field="*{CorreoElectronico}" class="form-control" placeholder="Correo">
                                                </div>
                                                <button type="submit" class="btn btn-success btn-sm">Guardar</button>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <span th:replace="fragments/footer::footer"></span>
                <div class="content-backdrop fade"></div>
            </div>
        </div>
    </div>
</div>
<div th:replace="layout/dashboard::script"></div>
</body>
</html>